In [1]:
import pandas as pd

In [7]:
df = pd.read_excel(open('vehicle_data.xlsx', 'rb'),
              sheet_name='vehicle_hash')

In [8]:
df = df.drop(columns = ['Unnamed: 0'])

In [6]:
df.to_csv('sales_codes_table.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   h_vehicle_hash    495 non-null    object
 1   production_date   497 non-null    object
 2   country           490 non-null    object
 3   sales_code_array  500 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

In [33]:
df.describe()

,h_vehicle_hash,production_date,country,sales_code_array
count,495,497,490,500
unique,495,466,189,500
top,924d229bede272c5a3b440c464cd1dfb74cae74d,2017-08-13 00:00:00,Germany,"Z5E, M3E, A4S, Y1R, F5E, J3Y, X4M, J1Z, M5X, V..."
freq,1,3,134,1

## ID-Column

In [7]:
df.loc[:,'ID_Len'] = df['h_vehicle_hash'].str.len()

In [8]:
df.ID_Len.unique()

array([40., nan])

In [9]:
#drop rows with nan ID data
#df = df.dropna(axis = 0, subset = '')

## Date column

In [46]:
df['production_date'] = pd.to_datetime(df['production_date'], errors = 'coerce')

In [11]:
df

,h_vehicle_hash,production_date,country,sales_code_array,ID_Len
0,924d229bede272c5a3b440c464cd1dfb74cae74d,2013-02-05,Namibia,"Z5E, M3E, A4S, Y1R, F5E, J3Y, X4M, J1Z, M5X, V...",40.0
1,3787a8db036dabd7433a32eaeeca8e5758bc3df8,2012-08-27,Germany,"Z5D, M2N, K1X, Q2Z, G0W, F0S, F0K, E4M, V2H, A...",40.0
2,aea31cdf4f575acf190626a50e927547e683d2ac,2015-08-11,Germany,"Z5C, M2A, A5H, P7S, P2B, N8D, D4S, A3A, D4Q, I...",40.0
3,d92ed338496281e08443c88583be06128a2d4b42,2015-02-22,Lithuania,"Z5F, M3P, D3H, C8C, Z9I, K6T, N2F, I1P, K3Z, Z...",40.0
4,7934c4872515da4b1c9648d01c0813f81c496aff,2017-03-10,Germany,"Z5B, M1K, L1T, E6J, C6I, A2K, O0C, K1X, X1S, F...",40.0
...,...,...,...,...,...
495,e97bca74b48c8e2e809dea1814ea647d057d9df1,2015-06-09,Qatar,"Z5F, M3V, N8K, Q2E, X3I, F5Q, D7F, E3T, D0B, D...",40.0
496,e7d817628ed1f07aef4fa8d6b7cd7a1c0419c5c3,2019-08-22,Costa Rica,"Z5E, M3A, Q2V, Q4X, B1D, R2J, P9T, F6A, E2I, I...",40.0
497,d7b0f243d9c87c1519638fd687f171f18878def4,2018-05-03,Germany,"Z5L, M3J, A4M, P6Y, C7E, A1H, V6G, D5N, E0N, K...",40.0
498,73fa5ea52299d19c5bc2323d96458de6dd2cc48a,2016-04-11,Algeria,"Z5E, M3B, U3M, J2O, I5B, Z0M, X2C, I6P, I1C, V...",40.0
499,e4d588f7a964377ce7cf047ecdec806b03f7a356,2012-09-25,Germany,"Z5C, M2F, E5A, W2A, N8H, J2E, D9Y, L9B, U2S, C...",40.0

## Column sales_code

In [12]:
df.loc[:,'code_Len'] = df['sales_code_array'].str.split(',')

In [13]:
df.loc[:,'code_Len'] = df.loc[:,'code_Len'].str.len().astype(int)

In [14]:
df.loc[:,'code_Len'].astype('int32').unique()

array([145, 253, 299, 152, 100, 171, 104, 296, 154, 121, 172, 268, 219,
       214, 257, 204, 165, 129, 275, 280, 161, 287, 234, 224, 168, 114,
       131, 110, 167, 276, 175, 163, 207, 106, 202, 241, 117, 181, 297,
       132, 119, 200, 113, 289, 193, 170, 228, 150, 206, 212, 137, 111,
       245, 278, 223, 108, 160, 263, 105, 233, 126, 187, 203, 237, 286,
       118, 281, 149, 284, 258, 102, 222, 201, 260, 180, 255, 190, 213,
       205, 282, 232, 269, 139, 211, 288, 155, 101, 134, 246, 249, 266,
       120, 277, 130, 162, 229, 218, 191, 267, 192, 261, 184, 136, 251,
       225, 274, 135, 151, 221, 148, 265, 142, 244, 210, 133, 208, 156,
       262, 125, 173, 240, 235, 298, 122, 236, 273, 128, 264, 178, 252,
       147, 188, 159, 109, 153, 186, 127, 230, 116, 194, 115, 243, 292,
       239, 293, 166, 198, 220, 195, 103, 250, 285, 146, 107, 141, 247,
       199, 174, 217, 179, 164, 196, 215, 185, 259, 216, 231, 112, 197,
       123, 138, 183, 270, 248, 182, 291, 238, 227, 283, 189, 158, 177,
       140, 169, 295, 143, 271, 226])

## Data preperation for ARM

In [2]:
df2 = pd.read_csv('final_table.csv')

In [3]:
sales_code_tp = tuple(tuple(i) for i in df2.sales_code_array.str.split(',').values)

In [4]:
df2 = df2.drop(columns = ['sales_code_array'])

In [5]:
data = tuple(tuple(i) for i in df2.values.tolist())

In [6]:
data = [i + j for i,j in zip(data,sales_code_tp)]

In [9]:
from efficient_apriori import apriori

In [34]:
itemsets, rules = apriori(data , min_support=0.03, min_confidence=0.7)

In [35]:
rules

[{ M1H} -> {Z5B},
 { M1I} -> {Z5B},
 { M1K} -> {Z5B},
 { M2A} -> {Z5C},
 { M2D} -> {Z5C},
 { M2F} -> {Z5C},
 { M2N} -> {Z5D},
 { M2P} -> {Z5D},
 { M2S} -> {Z5D},
 { M3A} -> {Z5E},
 { M3C} -> {Z5E},
 { M3D} -> {Z5E},
 { M3H} -> {Z5L},
 { M3M} -> {Z5L},
 { M3N} -> {Z5F},
 { M3P} -> {Z5F},
 { M3V} -> {Z5F}]

In [36]:
for i in rules:
    print(i ,  i.support*500)

{ M1H} -> {Z5B} (conf: 1.000, supp: 0.042, lift: 5.962, conv: 832271762.208) 21.231422505307854
{ M1I} -> {Z5B} (conf: 1.000, supp: 0.040, lift: 5.962, conv: 832271762.208) 20.169851380042463
{ M1K} -> {Z5B} (conf: 1.000, supp: 0.055, lift: 5.962, conv: 832271762.208) 27.60084925690021
{ M2A} -> {Z5C} (conf: 1.000, supp: 0.034, lift: 6.452, conv: 845010615.711) 16.985138004246284
{ M2D} -> {Z5C} (conf: 1.000, supp: 0.038, lift: 6.452, conv: 845010615.711) 19.108280254777068
{ M2F} -> {Z5C} (conf: 1.000, supp: 0.034, lift: 6.452, conv: 845010615.711) 16.985138004246284
{ M2N} -> {Z5D} (conf: 1.000, supp: 0.034, lift: 5.815, conv: 828025477.707) 16.985138004246284
{ M2P} -> {Z5D} (conf: 1.000, supp: 0.040, lift: 5.815, conv: 828025477.707) 20.169851380042463
{ M2S} -> {Z5D} (conf: 1.000, supp: 0.038, lift: 5.815, conv: 828025477.707) 19.108280254777068
{ M3A} -> {Z5E} (conf: 1.000, supp: 0.036, lift: 6.280, conv: 840764331.210) 18.046709129511676
{ M3C} -> {Z5E} (conf: 1.000, supp: 0.038, lift: 6.280, conv: 840764331.210) 19.108280254777068
{ M3D} -> {Z5E} (conf: 1.000, supp: 0.032, lift: 6.280, conv: 840764331.210) 15.92356687898089
{ M3H} -> {Z5L} (conf: 1.000, supp: 0.032, lift: 5.607, conv: 821656050.955) 15.92356687898089
{ M3M} -> {Z5L} (conf: 1.000, supp: 0.036, lift: 5.607, conv: 821656050.955) 18.046709129511676
{ M3N} -> {Z5F} (conf: 1.000, supp: 0.049, lift: 5.962, conv: 832271762.208) 24.416135881104037
{ M3P} -> {Z5F} (conf: 1.000, supp: 0.047, lift: 5.962, conv: 832271762.208) 23.354564755838638
{ M3V} -> {Z5F} (conf: 1.000, supp: 0.072, lift: 5.962, conv: 832271762.208) 36.09341825902335

In [43]:
transactions = [('eggs',  'soup', 'bacon'),
                ('eggs', 'bacon', 'apple'),
                ('soup', 'banana', 'bacon')]
itemsets, rules = apriori(transactions, min_support=0.5, min_confidence=1)
print(rules)  # [{eggs} -> {bacon}, {soup} -> {bacon}]

[{eggs} -> {bacon}, {soup} -> {bacon}]

In [44]:
for i in rules:
    print(i)

{eggs} -> {bacon} (conf: 1.000, supp: 0.667, lift: 1.000, conv: 0.000)
{soup} -> {bacon} (conf: 1.000, supp: 0.667, lift: 1.000, conv: 0.000)